

#main {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 15%;
}

.calculator-container {
  border: solid 8px black;
  border-radius: 25px;
  box-shadow: 40px 20px 15px rgba( 0, 0, 0, 0.6);
  background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
  padding: 20px;
}

.display-container {
  width: 100%;
  height: 120px;
  border: solid 1px black;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 50px;
  background-color: black;
  color: white;
  border-radius: 15px;
  margin-bottom: 10px;
}

.button-container {
  display: grid;
  grid-template-columns: repeat( 4, 125px );
  grid-template-rows:  repeat ( 5, 100px );
  grid-column-gap: 3px;
  grid-row-gap: 3px;
}

button {
  padding: 35px 35px;
  font-size: 25px;
  border-radius: 10px;
}

button:hover {
  opacity: 0.5;
}

.clear-button, .ce-button, .plus-minus-button, .calculate-button {
  background-color: black;
  color: white;
}

.value-button, .dot-button {
  background-color: rgb(46, 255, 46);
}

.operator-button {
  background-color: aqua;
}